.rounded_15 {
	border: 1px solid #384146;
    -moz-border-radius: 15px;
	border-radius: 15px;
	margin: 0px auto;
	
.d_tlo         {
		width: 100%;
		padding-top:0px;
		margin: 0px auto;
		}
#l_image {
	  box-shadow: 30px -20px 20px #999;
  -webkit-box-shadow: 30px -20px 20px #999;
  -moz-box-shadow: 30px -20px 20px #999;
}